
.cover
{
	position: fixed;
    left: 650px;
    top: 80px;
    max-height: 900px;
    max-width: 1000px;
}

.profil
{
	position: fixed;
    left: 30px;
    top: 30px;
    max-height: 200px;
    max-width: 200px;
}

.titlu
{
	position: fixed;
    left: 330px;
    top: 60px;
    max-height: 200px;
    max-width: 200px;
}

.subtitlu
{
	position: fixed;
    left: 280px;
    top: 100px;
    max-height: 150px;
    max-width: 350px;
}

.descriere
{
	position: fixed;
    left: 80px;
    top: 200px;
    max-height: 150px;
    max-width: 500px;
}

.citat1
{
	position: fixed;
    left: 150px;
    top: 450px;
    max-height: 280px;
    max-width: 350px;
}